.recent-notes-container{
    display: flex;
    align-items: center;
    justify-content: start;
    flex-wrap: wrap;
    padding: 0.5rem;
    flex-direction: row;

    margin: 0 auto;
    min-height: 80%;
    width: fit-content;

    

    border-radius: 22px;
    height: fit-content;
    border: 1px solid black;

    gap: 12px;
}

.recent-notes-title{
    font-size: 1.25rem;
}

.recent-note-item{
    display: flex;
    justify-content: space-between;
    width: 25%;
    height: 150px;
    border: 1px solid black;
    border-radius: 12px;
    padding: inherit;
}

.notebook-name, .recent-last-edited{
    font-size: smaller;
}

.note-name, .details-container{
    padding-left: 12px;
    padding-right: 12px;
}

.recent-note-item:hover{
    scale: 1.05;
    transition: 0.2s;
}

.recent-note-item:not(:hover){
    transition: 0.2s;
}
